<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakout</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    
    <main>
        <div>
            <h1>Breakout</h1>
            <span>Your Favorite Con is Now Virtual</span>
        </div>
       
        <div>
            <a href="/login" class="col-3 btn btn-primary"> Login</a>
            <a href="/register" class="col-3 btn btn-primary"> Register</a>
        </div>
    </main>
</body>
</html>